:root {
    --theme-primary: #ffffff;
    --theme-accent: #000000;
    --theme-primary-bg: #6a1b9a;
    --theme-primary-light-bg: #9c4dcc;
    --theme-primary-dark-bg: #38006b;
    --theme-accent-bg: #69f0ae;
    --theme-accent-light-bg: #9fffe0;
    --theme-accent-dark-bg: #2bbd7e;
}

* {
    font-family: 'Roboto', sans-serif;
}


/* ---- grid ---- */

.grid {
    background: #DDD;
    max-width: 1501px;
}


/* clear fix */

.grid:after {
    content: '';
    display: block;
    clear: both;
}


/* ---- .grid-item ---- */

.grid-item {
    /*float: left;*/
    height: 300px;
    width: 497px;
    /*    margin: 2px;*/
    background-color: var(--theme-accent-dark-bg);
}


/*copied css for dragging*/

.grid-item:hover {
    cursor: move;
}

.grid-item.is-dragging,
.grid-item.is-positioning-post-drag {
    background: #38006b;
    z-index: 2;
}

.packery-drop-placeholder {
    outline: 3px dashed hsla(0, 0%, 0%, 0.5);
    outline-offset: -6px;
    -webkit-transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
}


/*end*/


/* ---- cards ---- */

.mdc-card {
    height: 300px;
    width: 497px;
    background-color: var(--theme-primary-light-bg);
}

.mdc-card__media {
    background-color: var(--theme-primary-bg);
    margin-bottom: 218px;
}

.mdc-card__title--large {
    color: padding-top: 10px;
    color: var(--theme-primary);
}

.mdc-card__subtitle {
    color: var(--theme-primary);
}
